@page {
    size: auto;
    margin: 0;
}

body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color: rgb(33, 28, 37);
    background-color: white;
}

a, a:link, a:visited, a:active {
    color: rgb(33, 28, 37);
    text-decoration: none;
    transition-duration: .2s;
}

a:hover, a:focus {
    color: rgb(33, 28, 37);
    text-decoration: none;
}

.printing-only {
    display: block;
}

header ul.menu-bar, div#projects-slide,
.header-h1-text-onchange1, .header-h1-text-onchange2,
.hide-printing, button#back-to-top-button,
.particula, footer {
    display: none;
}

header {
    background-color: rgb(195, 167, 206);
    padding: 5%;
    padding-bottom: 1vh;
}

header h1 {
    margin: 0vh 2vw 1vh 2vw;
}

header strong#header-h1-text {
    visibility: visible !important;
}

nav {
    background-color: white;
    margin: 0vh 10% 0vh 10%;
    padding: 0px;
}

nav.p-escondendo {
    animation: none;
    transform: translateX(0px);
    opacity: 100%;
}

nav h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

nav h3 {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 12pt;
    line-height: 14pt;
}

div.coluna  {
    width: 50vw;
}

nav div.colunas-container div.coluna:not(:first-child) ul {
    margin-left: 3px;
}

nav.bottom-border, div.bottom-border {
    border-radius: 0px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

nav#quem-sou {
    background-color: rgb(195, 167, 206);
    border-radius: 0px;
    margin: 0px;
    margin-bottom: 2vh;
    padding: 0px 5% 0px 5%;
    font-family: 10pt;
    line-height: 13pt;
}

nav#quem-sou img.foto-perfil {
    max-width: 18vw;
    border: none;
    border-radius: 20px;
}

div.icons-list h2, div.icons-list {
    display: inline-block;
}

div.icons-list h2 {
    margin-right: 5vw;
}

div.icons-list i {
    color: rgb(33, 28, 37);
    margin-left: 2vw;
}

nav#skills div.skill-bar-hint {
    /*display: inline-block;*/
    display: none;
}

nav#skills div.skill-bar-meter {
    display: none;
}

nav#skills div.skill-bar-hint {
    background: none;
    font-weight: normal;
    opacity: 100%;
    display: inline-block;
}

nav#formacao ul,
nav#skills div.coluna ul,
nav#skills-printing div.coluna ul,
nav#skills div.other-skills div.coluna ul {
    padding-left: 2vw;
}

nav#formacao ul li,
nav#skills div.coluna ul li,
nav#skills-printing div.coluna ul li,
nav#skills div.other-skills div.coluna ul li {
    font-size: 10pt;
    line-height: 12pt;
}

nav#formacao img.img-thumbnail {
    display: none;
}

nav.card-container div.project-card {
    margin: 0px;
}

nav.card-container div.project-card img.project-card-img {
    border-radius: 0px;
}

nav.card-container div.project-card div.project-card-content {
    padding: 1vh 1vw 1vh 1vw;
}

nav.card-container div.project-card div.project-card-content h3 {
    margin-top: 1px;
}

nav#contato p {
    margin: 0px;
    line-height: 16pt;
}

nav#contato img.img-thumbnail {
    width: 18vw;
    margin-left: 0px;
    text-align: center;
}

nav#contato div.colunas-container div.coluna:first-child  {
    width: 60vw;
}

nav#contato div.colunas-container div.coluna:last-child  {
    width: 20vw;
    margin-left: 20vw;
}

nav#contato p.printing-only {
    text-align: center;
    font-size: 10pt;
    line-height: 12pt;
    visibility: hidden;
}